html
{
font: 14px helvetica, arial, clean, sans-serif;
color: #333333;
}

h3
{
color: #6AD97B;
font-weight: bold;
font-size: 3em;
}

bold
{
font-weight: bold;
font-size: 1.2em;
color: #993129;
}

#sleepTimes
{
font-weight: bold;
font-size: 1.5em;
}
